body{
    font-family: Segoe UI;
    margin:0;
    background:#f4f6f9;
}

.header{
    background:#0b3d91;
    color:white;
    padding:20px;
    text-align:center;
}

.container{
    width:550px;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.2);
}

input,select{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

video{
    width:100%;
    border-radius:8px;
    border:2px solid #333;
}

.submitBtn{
    background:#0b3d91;
    color:white;
    padding:12px;
    width:100%;
    border:none;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
}

.submitBtn:hover{
    background:#082c66;
}